{
  "openapi": "3.1.0",
  "info": {
    "version": "12.74.3",
    "title": "AEM Admin API",
    "description": "AEM Admin API is used to manage the lifecycle of content and code.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://admin.hlx.page"
    }
  ],
  "tags": [
    {
      "name": "status",
      "description": "Status operations"
    },
    {
      "name": "publish",
      "description": "Publish operations"
    },
    {
      "name": "preview",
      "description": "Preview operations"
    },
    {
      "name": "code",
      "description": "Code bus operations"
    },
    {
      "name": "cache",
      "description": "Cache operations"
    },
    {
      "name": "index",
      "description": "Index operations"
    },
    {
      "name": "authentication",
      "description": "The API uses your existing Identity Provider (IDP) to authenticate users with administrative access. The general flow is that you open `/login` in a browser, select the IDP you want to use, and then are redirected to the IDP login page. After successful login, you are redirected back to the Admin API with an auth token in the response cookie (`auth_token`). This token is then used to authenticate all subsequent requests. <br><br> Alternatively, you can provide an `authorization: token $API_KEY` header. In order to obtain an API_KEY, talk to your AEM project lead.\n"
    },
    {
      "name": "sitemap",
      "description": "Sitemap operations"
    },
    {
      "name": "job",
      "description": "Job operations"
    },
    {
      "name": "log",
      "description": "Log operations"
    },
    {
      "name": "snapshot",
      "description": "Snapshot operations"
    },
    {
      "name": "orgConfig",
      "x-displayName": "Org Config",
      "description": "Org Config operations"
    },
    {
      "name": "siteConfig",
      "x-displayName": "Site Config",
      "description": "Please note that most of the configuration objects that have an explicit schema can also be addressed directly, even if not listed in this documentation. <br> For example the production CDN configuration can be managed via the <code>/config/{org}/sites/{site}/cdn/prod.json</code> endpoint.\n"
    },
    {
      "name": "profileConfig",
      "x-displayName": "Profile Config",
      "description": "Please note that most of the configuration objects that have an explicit schema can also be addressed directly, even if not listed in this documentation. <br> For example the production CDN configuration can be managed via the <code>/config/{org}/profiles/default-profile/cdn/prod.json</code> endpoint.\n"
    },
    {
      "name": "indexConfig",
      "x-displayName": "Index Config",
      "description": "A configuration containing one or more index definitions.\n"
    },
    {
      "name": "sitemapConfig",
      "x-displayName": "Sitemap Config",
      "description": "A configuration containing one or more sitemap definitions.\n"
    }
  ],
  "paths": {
    "/status/{org}/{site}/{ref}/{path}": {
      "get": {
        "operationId": "status",
        "tags": [
          "status"
        ],
        "summary": "General status",
        "description": "Returns the overall status of the respective resource. (If the `?edit=auto` query param is set, this requires a call to your content source see https://www.aem.live/docs/limits#rate-limits-number-of-preview-operations-per-time)",
        "security": [
          {},
          {
            "AuthCookie": [
              "preview:read",
              "live:read",
              "code:read",
              "edit:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/statusEditUrlParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The overall status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/liveInfo"
                    },
                    {
                      "$ref": "#/components/schemas/previewInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/editInfo"
                    },
                    {
                      "$ref": "#/components/schemas/codeInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    },
                    {
                      "$ref": "#/components/schemas/profileInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a preview document.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "live": {
                        "status": 200,
                        "url": "https://main--site--org.aem.live/en/2021/blog",
                        "lastModified": "2021-05-29T22:00:00Z",
                        "lastModifiedBy": "foo@adobe.com",
                        "contentBusId": "helix-content-bu/h3-theblog-123ab123ab12ab123a12b3a/live/en/2021/blog.md",
                        "permissions": [
                          "read"
                        ]
                      },
                      "preview": {
                        "status": 200,
                        "url": "https://main--site--org.aem.page/en/2021/blog",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "lastModifiedBy": "anonymous",
                        "contentBusId": "helix-content-bu/h3-theblog-123ab123ab12ab123a12b3a/preview/en/2021/blog.md",
                        "permissions": [
                          "read",
                          "write"
                        ]
                      },
                      "edit": {
                        "status": 200,
                        "url": "https://adobe.sharepoint.com/",
                        "sourceLocation": "onedrive:/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERI4JFIU56LICZNBZA4MYHF6Z4AKJ",
                        "lastModified": "2021-05-29T21:00:00Z"
                      },
                      "code": {
                        "status": 404,
                        "codeBusId": "helix-code-bus/adobe/blog/main/blog.md",
                        "permissions": [
                          "read"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/status/{org}/{site}/{ref}/*": {
      "post": {
        "operationId": "bulkStatus",
        "tags": [
          "status"
        ],
        "summary": "Start a bulk status job",
        "description": "Fetches the status of all resources specified in the `paths` property in the payload. If a path ends with `/*`, it is assumed to be a folder and is recursively processed.<br><br> The response will contain the folliowing information about a resource: `path`, `sourceLastModified`, `previewLastModified` and `publishLastModified`. It is possible to filter the information returned, by passing a combination of `edit`, `preview` and `live` in the `select` property in the payload.<br><br> Note that the bulk status is performed asynchronously and the response will contain information about the created [job](#tag/job).\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "edit:list",
              "preview:list",
              "live:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bulkStatusBody"
              },
              "examples": {
                "multiple-paths": {
                  "$ref": "#/components/examples/example"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk status scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobCreated"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "status": 202,
                      "messageId": "37e92eec-020c-4eae-8f80-3db444c25056",
                      "job": {
                        "topic": "status",
                        "name": "job-123",
                        "state": "created",
                        "startTime": "2021-05-31T23:00:00Z",
                        "data": {
                          "paths": [
                            {
                              "prefix": "/en/"
                            },
                            {
                              "path": "/en"
                            },
                            {
                              "path": "/blog/"
                            }
                          ]
                        }
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/status/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/status"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/live/{org}/{site}/{ref}/{path}": {
      "get": {
        "operationId": "getPublishStatus",
        "tags": [
          "publish"
        ],
        "summary": "Publish Status",
        "description": "Returns the publish status of the respective resource.",
        "security": [
          {
            "AuthCookie": [
              "live:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The publish status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/liveInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a published document.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "live": {
                        "status": 200,
                        "url": "https://ref--site--org.aem.live/en/2021/blog",
                        "lastModified": "2021-05-29T22:00:00Z",
                        "contentBusId": "h3-theblog-123ab123ab12ab123a12b3a/live/en/2021/blog.md",
                        "sourceLocation": "onedrive:/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERI4JFIU56LICZNBZA4MYHF6Z4AKJ",
                        "sourceLastModified": "2021-05-29T21:00:00Z",
                        "permissions": [
                          "read"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "publishResource",
        "tags": [
          "publish"
        ],
        "summary": "Publish a resource",
        "description": "Publish a resource by copying the resource content from the `preview` content-bus partition to the `live` content-bus partition. It additionally purges the _live_ cdn and the _byo_ cdn, if configured.\n",
        "security": [
          {
            "AuthCookie": [
              "preview:read",
              "live:read",
              "live:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/forceUpdateRedirectsParam"
          },
          {
            "$ref": "#/components/parameters/disableNotificationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource published.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/liveInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of the published document.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "live": {
                        "status": 200,
                        "url": "https://ref--site--org.aem.live/en/2021/blog",
                        "lastModified": "2021-05-29T22:00:00Z",
                        "contentBusId": "h3-theblog-123ab123ab12ab123a12b3a/live/en/2021/blog.md",
                        "sourceLocation": "onedrive:/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERI4JFIU56LICZNBZA4MYHF6Z4AKJ",
                        "sourceLastModified": "2021-05-29T21:00:00Z",
                        "permissions": [
                          "read",
                          "write"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "unpublishResource",
        "tags": [
          "publish"
        ],
        "summary": "Un-publish a resource",
        "description": "Un-publish a resource by deleting the content from from the `live` content-bus partition. It additionally purges the _live_ cdn and the _byo_ cdn, if configured.\n",
        "security": [
          {
            "AuthCookie": [
              "live:read",
              "live:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/disableNotificationsParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource unpublished"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/live/{org}/{site}/{ref}/*": {
      "post": {
        "operationId": "bulkPublish",
        "tags": [
          "publish"
        ],
        "summary": "Start a bulk publish job",
        "description": "Updates live resources specified in the `paths` property in the payload.<br> By default, only new and modified resources are updated, unless the `forceUpdate` property is set to `true`.<br> Note that configuration files, like `/.helix/config` or `redirects.json`, are always ignored during bulk publish.<br> Note that the bulk publish is performed asynchronously and this request will return information to the created job.\n",
        "security": [
          {
            "AuthCookie": [
              "preview:list",
              "preview:read",
              "preview:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bulkPublishBody"
              },
              "examples": {
                "multiple-paths": {
                  "$ref": "#/components/examples/bulk-publish-payload_example"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk publish scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobCreated"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "status": 202,
                      "messageId": "37e92eec-020c-4eae-8f80-3db444c25056",
                      "job": {
                        "topic": "publish",
                        "name": "job-123",
                        "state": "created",
                        "startTime": "2021-05-31T23:00:00Z",
                        "data": {
                          "paths": [
                            {
                              "path": "/en"
                            },
                            {
                              "path": "/blog/"
                            },
                            {
                              "path": "/metadata.json"
                            }
                          ]
                        }
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/publish/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/publish"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/preview/{org}/{site}/{ref}/{path}": {
      "get": {
        "operationId": "previewStatus",
        "tags": [
          "preview"
        ],
        "summary": "Preview status",
        "description": "Returns the preview status of the respective resource.",
        "security": [
          {
            "AuthCookie": [
              "preview:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The preview status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/previewInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a preview document.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "preview": {
                        "status": 200,
                        "url": "https://main--site--org.aem.page/en/2021/blog",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "contentBusId": "h3-theblog-123ab123ab12ab123a12b3a/preview/en/2021/blog.md",
                        "sourceLocation": "onedrive:/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERI4JFIU56LICZNBZA4MYHF6Z4AKJ",
                        "sourceLastModified": "2021-05-29T21:00:00Z",
                        "permissions": [
                          "read"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "operationId": "updatePreview",
        "tags": [
          "preview"
        ],
        "summary": "Update preview",
        "description": "Updates the preview resource by fetching the latest content from the content providers (e.g. sharepoint, google docs, BYOM) and storing it in `preview`.\n",
        "security": [
          {
            "AuthCookie": [
              "edit:read",
              "preview:read",
              "preview:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/forceUpdateRedirectsParam"
          },
          {
            "$ref": "#/components/parameters/word2mdVersionParam"
          },
          {
            "$ref": "#/components/parameters/gdocs2mdVersionParam"
          },
          {
            "$ref": "#/components/parameters/html2mdVersionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Preview resource updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/previewInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "preview": {
                        "status": 200,
                        "url": "https://main--site--org.aem.page/en/2021/blog",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "contentBusId": "h3-theblog-123ab123ab12ab123a12b3a/preview/en/2021/blog.md",
                        "sourceLocation": "onedrive:/drives/b!DyVXacYnlkm_17hZL307Me9vzRzaKwZCpVMBYbPOKaVT_gD5WmlHRbC-PCpiwGPx/items/012VWERI4JFIU56LICZNBZA4MYHF6Z4AKJ",
                        "sourceLastModified": "2021-05-29T21:00:00Z",
                        "permissions": [
                          "read",
                          "write"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      },
      "delete": {
        "operationId": "deletePreview",
        "tags": [
          "preview"
        ],
        "summary": "Delete preview",
        "description": "Deletes a preview resource from the `preview` partition in the content-bus..\n",
        "security": [
          {
            "AuthCookie": [
              "preview:read",
              "preview:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/preview/{org}/{site}/{ref}/*": {
      "post": {
        "operationId": "bulkPreview",
        "tags": [
          "preview"
        ],
        "summary": "Start a bulk preview job",
        "description": "Updates preview resources specified in the `paths` property in the payload. If a path ends with `/*`, it is assume to be folder and is recursively previewed.<br> By default, only new and modified resources are updated, unless the `forceUpdate` property is set to `true`.<br> Note that configuration files, like `/.helix/config` or `redirects.json`, are always ignored during bulk preview.<br> Note that the bulk preview is performed asynchronously and this request will return information to the created job.\n",
        "security": [
          {
            "AuthCookie": [
              "edit:read",
              "edit:list",
              "preview:read",
              "preview:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/word2mdVersionParam"
          },
          {
            "$ref": "#/components/parameters/gdocs2mdVersionParam"
          },
          {
            "$ref": "#/components/parameters/html2mdVersionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bulkPreviewBody"
              },
              "examples": {
                "multiple-paths": {
                  "$ref": "#/components/examples/bulk-preview-payload_example"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk preview scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobCreated"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "status": 202,
                      "messageId": "37e92eec-020c-4eae-8f80-3db444c25056",
                      "job": {
                        "topic": "preview",
                        "name": "job-123",
                        "state": "created",
                        "startTime": "2021-05-31T23:00:00Z",
                        "data": {
                          "paths": [
                            "/documents"
                          ]
                        }
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/preview"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/code/{owner}/{repo}/{ref}/{path}": {
      "get": {
        "operationId": "codeStatus",
        "tags": [
          "code"
        ],
        "summary": "Code bus status",
        "description": "Returns the code bus status of the respective resource.",
        "security": [
          {},
          {
            "AuthCookie": [
              "code:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ownerParam"
          },
          {
            "$ref": "#/components/parameters/repoParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/branchParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The code-bus status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/codeInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a code document.",
                    "value": {
                      "webPath": "/scripts.js",
                      "resourcePath": "/scripts.js",
                      "live": {
                        "url": "https://main--repo--owner.hlx.live/scripts.js"
                      },
                      "preview": {
                        "url": "https://main--repo--owner.hlx.page/scripts.js"
                      },
                      "edit": {
                        "url": "https://github.com/owner/repo/tree/main/scripts.js"
                      },
                      "code": {
                        "status": 200,
                        "lastModified": "2021-05-31T23:00:00Z",
                        "sourceLastModified": "2021-05-29T21:00:00Z",
                        "codeBusId": "helix-code-bus/owner/repo/main/scripts.js",
                        "permissions": [
                          "read"
                        ]
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/owner/repo/main/scripts.js",
                        "preview": "https://admin.hlx.page/preview/owner/repo/main/scripts.js",
                        "live": "https://admin.hlx.page/live/owner/repo/main/scripts.js",
                        "code": "https://admin.hlx.page/code/owner/repo/main/scripts.js"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "updateCode",
        "tags": [
          "code"
        ],
        "summary": "Update code",
        "description": "Updates the code-bus resource by fetching the latest content from github and storing it in the code-bus. If the last path segment is a `*`, it will recursively update the code-bus with the respective github tree (directory). It additionally purges the _live_ cdn and the _byo_ cdn, if configured.\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "code:read",
              "code:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ownerParam"
          },
          {
            "$ref": "#/components/parameters/repoParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/branchParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Code resource updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/codeInfo"
                      }
                    ]
                  }
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": [
                      {
                        "live": {
                          "url": "https://main--repo--owner.hlx.live/scripts.js"
                        },
                        "code": {
                          "status": 200,
                          "lastModified": "2021-05-31T23:00:00Z",
                          "codeBusId": "helix-code-bus/owner/repo/main/scripts.js",
                          "permissions": [
                            "read",
                            "write"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteCode",
        "tags": [
          "code"
        ],
        "summary": "Delete code",
        "description": "Deletes a code resource from the code-bus It additionally purges the _live_ cdn and the _byo_ cdn, if configured.\n",
        "security": [
          {
            "AuthCookie": [
              "code:read",
              "delete:code"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ownerParam"
          },
          {
            "$ref": "#/components/parameters/repoParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/branchParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/code/{owner}/{repo}/{ref}": {
      "post": {
        "operationId": "batchCode",
        "tags": [
          "code"
        ],
        "summary": "Batch update code",
        "description": "Processes a change event and updates the code-bus accordingly. It additionally purges the _live_ cdn and the _byo_ cdn, if configured.\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "code:read",
              "code:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ownerParam"
          },
          {
            "$ref": "#/components/parameters/repoParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changeEventBody"
              },
              "examples": {
                "multiple-files": {
                  "$ref": "#/components/examples/change-event-payload_example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code resource updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/codeInfo"
                      }
                    ]
                  }
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": [
                      {
                        "live": {
                          "url": "https://main--repo--owner.hlx.live/scripts.js"
                        },
                        "code": {
                          "status": 200,
                          "lastModified": "2021-05-31T23:00:00Z",
                          "codeBusId": "helix-code-bus/owner/repo/main/scripts.js",
                          "permissions": [
                            "read",
                            "write"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/cache/{org}/{site}/{ref}/{path}": {
      "post": {
        "operationId": "purgeCache",
        "tags": [
          "cache"
        ],
        "summary": "Purge live cache",
        "description": "Purges the resource from the respective _live_ cdn. It optionally invokes the _byo_ cdn purging hook, if configured.\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "cache:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful purge response"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/index/{org}/{site}/{ref}/{path}": {
      "get": {
        "operationId": "getIndexStatus",
        "tags": [
          "index"
        ],
        "summary": "Index Status",
        "description": "Returns the index status of the respective resource.",
        "security": [
          {},
          {
            "AuthCookie": [
              "index:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The index status of a resource",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/indexInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of an index document.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "index": {
                        "name": "blog",
                        "githubLink": "https://github.com/owner/repo/blob/main/helix-index.yaml#L4",
                        "indexedUrl": "https://main--site--org.aem.live/en/2021/blog",
                        "lastModified": "Tue, 01 Mar 2022 08:32:01 GMT"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Resource not found or not in index definition.",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "indexResource",
        "tags": [
          "index"
        ],
        "summary": "Re-index a resource.",
        "description": "Index a resource. If the last path segment is a `*`, it will recursively reindex all published resources below that sub tree.\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "index:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Re-index of resource triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/indexInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of indexing a resource.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "index": {
                        "name": "blog",
                        "githubLink": "https://github.com/owner/repo/blob/main/helix-index.yaml#L4",
                        "indexedUrl": "https://main--site--org.aem.live/en/2021/blog",
                        "lastModified": "Tue, 01 Mar 2022 08:32:01 GMT"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Resource not found or not in index definition.",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "indexRemovePage",
        "tags": [
          "index"
        ],
        "summary": "Remove a resource from the index.",
        "description": "Removes a resource from the index.\n",
        "security": [
          {},
          {
            "AuthCookie": [
              "index:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Removal of resource in the index triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/indexInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of removing a resource from the index.",
                    "value": {
                      "webPath": "/en/2021/blog",
                      "resourcePath": "/en/2021/blog.md",
                      "index": {
                        "name": "blog",
                        "status": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Resource not found or not in index definition.",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/login": {
      "get": {
        "operationId": "login",
        "tags": [
          "authentication"
        ],
        "summary": "Login Selection",
        "description": "Provides a selection of available IDP logins",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Display links to IDP specific logins",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/loginLinks"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "links": {
                        "login_microsoft": "https://admin.hlx.page/auth/adobe",
                        "login_google": "https://admin.hlx.page/auth/google"
                      }
                    }
                  },
                  "loggedin": {
                    "description": "Success response when logged in",
                    "value": {
                      "links": {
                        "logout": "https://admin.hlx.page/logout"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/login/{org}/{site}/{ref}": {
      "get": {
        "operationId": "login-repo",
        "tags": [
          "authentication"
        ],
        "summary": "Auto login",
        "description": "Redirects to IDP corresponding the project setup",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to the IDP authorization endpoint",
            "headers": {
              "location": {
                "$ref": "#/components/headers/location"
              }
            }
          },
          "400": {
            "description": "Invalid request url.",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "operationId": "logout",
        "tags": [
          "authentication"
        ],
        "summary": "Logout",
        "description": "Logs out the current session and redirects to the login screen",
        "security": [
          {}
        ],
        "responses": {
          "302": {
            "description": "Redirects to /login",
            "headers": {
              "location": {
                "$ref": "#/components/headers/location"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "profile",
        "tags": [
          "authentication"
        ],
        "summary": "Profile information",
        "description": "Display profile information",
        "security": [
          {},
          {
            "AuthCookie": [
              "profile:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Show profile information of logged in user",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/profileInfo"
                    },
                    {
                      "$ref": "#/components/schemas/logoutLink"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "profile": {
                        "iss": "urn:example:issuer",
                        "email": "test@example.com",
                        "name": "Test User",
                        "ttl": 7200
                      },
                      "links": {
                        "logout": "https://admin.hlx.page/logout"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/sitemap/{org}/{site}/{ref}/{path}": {
      "post": {
        "operationId": "generateSitemap",
        "tags": [
          "sitemap"
        ],
        "summary": "Generates a sitemap",
        "description": "Generates a sitemap. The path specified should be the destination path of a sitemap.\n",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sitemap generated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/sitemapInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of generating a sitemap",
                    "value": {
                      "paths": [
                        "/sitemap.xml"
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Path specified is no destination for any sitemap configured"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "No sitemap configuration found",
            "headers": {
              "X-Error": {
                "$ref": "#/components/headers/xError"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/job/{org}/{site}/{ref}/{topic}": {
      "get": {
        "operationId": "getJobList",
        "tags": [
          "job"
        ],
        "summary": "Job List",
        "description": "Returns the job list of jobs",
        "security": [
          {
            "AuthCookie": [
              "job:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/topicParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The Job List",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobList"
                    },
                    {
                      "$ref": "#/components/schemas/jobListLink"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a job list.",
                    "value": {
                      "topic": "preview",
                      "jobs": [
                        {
                          "name": "job-123",
                          "state": "created",
                          "time": "2021-05-31T23:00:00Z",
                          "href": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123"
                        },
                        {
                          "name": "job-124",
                          "state": "running",
                          "time": "2021-04-31T23:00:00Z",
                          "href": "https://admin.hlx.page/job/adobe/blog/main/preview/job-124"
                        }
                      ],
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/preview"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/job/{org}/{site}/{ref}/{topic}/{jobName}": {
      "get": {
        "operationId": "getJob",
        "tags": [
          "job"
        ],
        "summary": "Job Status",
        "description": "Returns the job status",
        "security": [
          {
            "AuthCookie": [
              "job:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/topicParam"
          },
          {
            "$ref": "#/components/parameters/jobNameParam"
          }
        ],
        "responses": {
          "202": {
            "description": "The Job Status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobStatus"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "topic": "preview",
                      "name": "job-123",
                      "state": "created",
                      "startTime": "2021-05-31T23:00:00Z",
                      "progress": {
                        "total": 10,
                        "processed": 0,
                        "failed": 0
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123",
                        "details": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123/details",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/preview"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "delete": {
        "operationId": "stopJob",
        "tags": [
          "job"
        ],
        "summary": "Stop job",
        "description": "Stops a job.",
        "security": [
          {
            "AuthCookie": [
              "job:read",
              "job:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/topicParam"
          },
          {
            "$ref": "#/components/parameters/jobNameParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Job stopped."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/job/{org}/{site}/{ref}/{topic}/{jobName}/details": {
      "get": {
        "operationId": "getJobDetails",
        "tags": [
          "job"
        ],
        "summary": "Job Status Details",
        "description": "Returns the job status",
        "security": [
          {
            "AuthCookie": [
              "job:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/topicParam"
          },
          {
            "$ref": "#/components/parameters/jobNameParam"
          }
        ],
        "responses": {
          "202": {
            "description": "The Job Status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobStatusDetails"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfoDetails"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response.",
                    "value": {
                      "topic": "preview",
                      "name": "job-123",
                      "state": "created",
                      "startTime": "2021-05-31T23:00:00Z",
                      "progress": {
                        "total": 10,
                        "processed": 6,
                        "failed": 4
                      },
                      "data": {
                        "paths": [
                          "/documents"
                        ]
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123/details",
                        "job": "https://admin.hlx.page/job/adobe/blog/main/preview/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/preview"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/log/{org}/{site}/{ref}": {
      "get": {
        "operationId": "getLogs",
        "tags": [
          "log"
        ],
        "summary": "Returns logs",
        "description": "Returns logs for a project. If there are more logs for the timespan specified, there will be a `next` link in the response to load the next batch.\n",
        "security": [
          {
            "AuthCookie": [
              "log:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          },
          {
            "$ref": "#/components/parameters/fromParam"
          },
          {
            "$ref": "#/components/parameters/toParam"
          },
          {
            "$ref": "#/components/parameters/sinceParam"
          },
          {
            "$ref": "#/components/parameters/nextTokenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Log statements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logResult"
                },
                "examples": {
                  "success": {
                    "description": "Success response of a log request.",
                    "value": {
                      "from": "2023-11-07T14:00:00.000Z",
                      "to": "2023-11-07T16:15:12.454Z",
                      "entries": [
                        {
                          "timestamp": 1699368094644,
                          "duration": 467,
                          "status": 201,
                          "method": "POST,",
                          "route": "preview",
                          "path": "/my-page",
                          "contentBusId": "xyz",
                          "owner": "owner",
                          "repo": "repo",
                          "ref": "ref"
                        },
                        {
                          "timestamp": 1699368094645,
                          "duration": 1005,
                          "status": 202,
                          "method": "POST",
                          "route": "live",
                          "snapshotId": "default",
                          "user": "foo@example.com",
                          "paths": [
                            "/",
                            "/docs/howto/",
                            "/docs/howto/one",
                            "/docs/howto/two"
                          ],
                          "contentBusId": "abc",
                          "owner": "owner",
                          "repo": "repo",
                          "ref": "ref"
                        },
                        {
                          "timestamp": 1699372505155,
                          "event": "dinner is ready",
                          "contentBusId": "xyz",
                          "owner": "owner",
                          "repo": "repo",
                          "ref": "ref"
                        }
                      ],
                      "nextToken": "ABAB==",
                      "links": {
                        "next": "https://admin.hlx.page/log/owner/repo/ref/?nextToken=ABAB=="
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "operationId": "addLogs",
        "tags": [
          "log"
        ],
        "summary": "Add logs",
        "description": "Add logs to a project. The body should be in JSON format and contain an array called `entries`.\n",
        "security": [
          {
            "AuthCookie": [
              "log:read",
              "log:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/refParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/logEntriesBody"
              },
              "examples": {
                "multiple-entries": {
                  "description": "This posts one entry to the audit log. To see what the added entry would look like, see the second entry in the [getLog](#tag/log/operation/getLogs) example.\n",
                  "value": {
                    "entries": [
                      {
                        "event": "dinner is ready"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Logs added."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/snapshot/{org}/{site}/main": {
      "get": {
        "operationId": "listSnapshots",
        "tags": [
          "snapshot"
        ],
        "summary": "List snapshots",
        "description": "Returns a list of snapshot IDs",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The snapshot list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/snapshotList"
                    },
                    {
                      "$ref": "#/components/schemas/snapshotLinksList"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of list snapshots.",
                    "value": {
                      "snapshots": [
                        "default",
                        "backup",
                        "for-next-big-release"
                      ],
                      "links": {
                        "self": "https://admin.hlx.page/snapshot/adobe/blog/main"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/snapshot/{org}/{site}/main/{snapshotId}": {
      "get": {
        "operationId": "getSnapshotManifest",
        "tags": [
          "snapshot"
        ],
        "summary": "Snapshot Manifest",
        "description": "Returns the snapshot manifest",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The snapshot manifest",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/snapshotManifest"
                    },
                    {
                      "$ref": "#/components/schemas/snapshotLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a snapshot manifest.",
                    "value": {
                      "manifest": {
                        "id": "12345",
                        "title": "Test Review",
                        "description": "ignore this review",
                        "created": "2021-04-31T23:00:00Z",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "lastUpdated": "2021-05-31T23:00:00Z",
                        "resources": [
                          {
                            "path": "/foo"
                          },
                          {
                            "path": "/bar"
                          }
                        ]
                      },
                      "links": {
                        "snapshot": "https://admin.hlx.page/snapshot/adobe/blog/main/12345"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "operationId": "updateSnapshotManifest",
        "tags": [
          "snapshot"
        ],
        "summary": "Update snapshot Manifest",
        "description": "Updates the Snapshot manifest and allows to lock or unlock the snapshot. Note that in order to lock the snapshot, the request role also needs to include the `preview:write` permission, and in order to unlock the snapshot, the `live:write` permission is needed.\n",
        "security": [
          {
            "AuthCookie": [
              "snapshot:write",
              "preview:write",
              "live:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locked": {
                    "type": "boolean"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The snapshot manifest",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/snapshotManifest"
                    },
                    {
                      "$ref": "#/components/schemas/snapshotLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a snapshot manifest.",
                    "value": {
                      "manifest": {
                        "title": "December release",
                        "id": "12345",
                        "created": "2021-04-31T23:00:00Z",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "lastUpdated": "2021-05-31T23:00:00Z",
                        "resources": [
                          {
                            "path": "/foo"
                          },
                          {
                            "path": "/bar"
                          }
                        ]
                      },
                      "links": {
                        "snapshot": "https://admin.hlx.page/snapshot/adobe/blog/main/12345"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/snapshot/{org}/{site}/main/{snapshotId}/{path}": {
      "get": {
        "operationId": "getSnapshot",
        "tags": [
          "snapshot"
        ],
        "summary": "Snapshot status",
        "description": "Returns the snapshot status of the respective resource.",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The snapshot status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/resourceInfo"
                    },
                    {
                      "$ref": "#/components/schemas/previewInfo"
                    },
                    {
                      "$ref": "#/components/schemas/snapshotInfo"
                    },
                    {
                      "$ref": "#/components/schemas/resourceLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Success response of a snapshot document.",
                    "value": {
                      "webPath": "/.snapshot/12345/en/2021/blog",
                      "resourcePath": "/.snapshot/12345/en/2021/blog.md",
                      "preview": {
                        "status": 200,
                        "url": "https://main--repo--owner.hlx.page/.snapshot/12345/en/2021/blog",
                        "lastModified": "2021-05-31T23:00:00Z",
                        "contentBusId": "h3-theblog-123ab123ab12ab123a12b3a/.snapshot/12345/preview/en/2021/blog.md",
                        "permissions": [
                          "read",
                          "write"
                        ]
                      },
                      "snapshot": {
                        "id": "12345",
                        "locked": "2021-05-31T23:00:00Z"
                      },
                      "links": {
                        "status": "https://admin.hlx.page/status/adobe/blog/main/blog",
                        "preview": "https://admin.hlx.page/preview/adobe/blog/main/blog",
                        "live": "https://admin.hlx.page/live/adobe/blog/main/blog",
                        "code": "https://admin.hlx.page/code/adobe/blog/main/blog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "operationId": "createSnapshot",
        "tags": [
          "snapshot"
        ],
        "summary": "Add resource to snapshot",
        "description": "Creates a snapshot of the specified resource and stores it in the preview partition below the `.snapshot/snapshotId` folder. If the path param ends with a `*`, a snapshot of the entire subtree is created. If the snapshot is locked, a `409` response is returned.\n",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read",
              "snapshot:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          },
          {
            "$ref": "#/components/parameters/snFilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful snapshot response"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "deleteSnapshot",
        "tags": [
          "snapshot"
        ],
        "summary": "Delete snapshot",
        "description": "Deletes a snapshot resource from the `preview` partition in the content-bus.  If the path param ends with a `*`, the entire subtree is deleted. If the snapshot is locked, a `409` response is returned.\n",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read",
              "snapshot:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          },
          {
            "$ref": "#/components/parameters/pathParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/snapshot/{org}/{site}/main/{snapshotId}/*": {
      "post": {
        "operationId": "bulkSnapshot",
        "tags": [
          "snapshot"
        ],
        "summary": "Start a bulk snapshot job",
        "description": "Add all resources specified in the `paths` property in the payload.<br> By default, only new and modified resources are updated, unless the `forceUpdate` property is set to `true`.<br> Note that the bulk snapshot is performed synchronously for arrays with fewer than 200 resources and no wildcard paths, and asynchronously otherwise.<br> Note that without the appropriate `application/json` content type header, the request will be treated as a wildcard add with no body, resulting in all resources being added to the snapshot.\n",
        "security": [
          {
            "AuthCookie": [
              "snapshot:read",
              "snapshot:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgParam"
          },
          {
            "$ref": "#/components/parameters/siteParam"
          },
          {
            "$ref": "#/components/parameters/snIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bulkSnapshotBody"
              },
              "examples": {
                "multiple-paths": {
                  "$ref": "#/components/examples/multiple-paths"
                },
                "wildcard": {
                  "$ref": "#/components/examples/wildcard"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/jobCreated"
                    },
                    {
                      "$ref": "#/components/schemas/jobLinksInfo"
                    }
                  ]
                },
                "examples": {
                  "sync-success": {
                    "description": "Successful job completed synchronously response.",
                    "value": {
                      "status": 202,
                      "messageId": "37e92eec-020c-4eae-8f80-3db444c25056",
                      "job": {
                        "topic": "snapshot",
                        "name": "job-123",
                        "state": "stopped",
                        "startTime": "2021-05-31T23:00:00Z",
                        "data": {
                          "snapshotId": "snapshot-123",
                          "forceUpdate": false,
                          "phase": "completed",
                          "paths": [
                            {
                              "path": "/en"
                            },
                            {
                              "path": "/blog/"
                            }
                          ],
                          "resources": [
                            {
                              "resourcePath": "/en.md",
                              "webPath": "/en",
                              "status": 200
                            },
                            {
                              "resourcePath": "/blog/index.md",
                              "webPath": "/blog/",
                              "status": 200
                            }
                          ]
                        }
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/snapshot/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/snapshot"
                      }
                    }
                  },
                  "async-success": {
                    "description": "Successful asynchronous job created response.",
                    "value": {
                      "status": 202,
                      "messageId": "37e92eec-020c-4eae-8f80-3db444c25056",
                      "job": {
                        "topic": "publish",
                        "name": "job-123",
                        "state": "created",
                        "startTime": "2021-05-31T23:00:00Z",
                        "data": {
                          "snapshotId": "snapshot-123",
                          "forceUpdate": false,
                          "paths": [
                            {
                              "path": "/en/*"
                            }
                          ]
                        }
                      },
                      "links": {
                        "self": "https://admin.hlx.page/job/adobe/blog/main/snapshot/job-123",
                        "list": "https://admin.hlx.page/job/adobe/blog/main/snapshot"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
[...]
